{% extends 'base.html' %}

{% block section %}



<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center text-primary mb-4">🎂 Cake Details</h3>
          
          <h4 class="text-center fw-bold">{{ cake.name }} <span class="mx-2"><a href="{% url 'cake-edit' cake.uuid %}"><i class="fa-solid fa-pen-nib"></i></a></span><span class="mx-2"><a href="{% url 'cake-delete' cake.uuid %}"><i class="fa-regular fa-trash-can"></i></a></span></h4>
          <p class="text-center text-muted">
            {{ cake.description }}
          </p>

          <div class="text-center mb-4">
            <img src="{{ cake.photo.url }}" 
                 alt="{{ cake.name }}" class="rounded shadow-sm" style="width: 80%;height: 400px;object-fit: cover;">
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <strong>Category:</strong> {{ cake.category.name }}
            </div>

            <div class="col-md-6 mb-3">
              <strong>Flavour:</strong> {{ cake.flavour.name }}
            </div>

            <div class="col-md-6 mb-3">
              <strong>Shape:</strong> {{ cake.shape.name }}
            </div>

            <div class="col-md-6 mb-3">
              <strong>Weight:</strong> {{ cake.weight.name }}
            </div>

            <div class="col-md-6 mb-3">
              <strong>Egg Added:</strong>{% if cake.egg_added %}<i class="fa-solid fa-check" style="color: green;"></i>{% else %} <i class="fa-solid fa-xmark" style="color: red;"></i>{% endif %}

            </div>

            <div class="col-md-6 mb-3">
              <strong>Availability:</strong> {% if cake.is_available %}<i class="fa-solid fa-check" style="color: green;"></i>{% else %} <i class="fa-solid fa-xmark" style="color: red;"></i>{% endif %}
            </div>

            <div class="col-md-6 mb-3">
              <strong>Price:</strong>₹ {{ cake.price }}
            </div>
          </div>

          <div class="text-center mt-4">
            <a href="{% url 'home' %}" class="btn btn-secondary px-4">Back to Cakes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
